* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f2f2f2;
}

/**
 * Buttons
 */

button {
    padding: .9rem 1.2rem;
    border-radius: 2px;
    border: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

button.red {
    background: #ff3000;
    color: #fff;
}

button.hollow {
    background: transparent;
    border: 2px solid #212121;
}

/**
 * Header styles
 */

header.top {
    background: #212121;
    height: 4rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

header.top h1 {
    position: absolute;
    left: 1rem;
    top: 0rem;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 4rem;
    display: inline-block;
    background: transparent url(../images/supercharge-logo.svg) no-repeat left center;
    background-size: 19%;
    padding-left: 3.5rem;
}

header.top article {
    margin: auto;
    display: flex;
    color: #b3b3b3;
}

header.top article label {
    line-height: 3rem;
    margin-right: .5rem;
    font-size: 0.9rem;
}

header.top .select-wrapper {
    padding: .7rem 1.2rem;
    position: relative;
    background: #fff;
    margin-right: 1rem;
    border-radius: 2px;
}

header.top .select-wrapper select {
    border: none;
    font-size: 1.5rem;
}

/**
 * Game area: common
 */

section.game-area {
    width: 55rem;
    margin: auto;
}

/**
 * Game area: header
 */

section.game-area header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    color: #848484;
    font-size: .9rem;
}

section.game-area header span {
    color: #000;
}

section.game-area header .tries span {
    font-size: 1.2rem;
    position: relative;
    top: .1rem;
}
section.game-area header .best {
    width: 2rem;
    text-align: center;
}

section.game-area header .best span {
    font-size: 2.5rem;
}
